<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
        <property name="connection.provider">
            NHibernate.Connection.DriverConnectionProvider
        </property>
        <property name="dialect">
            NHibernate.Dialect.MsSql2005Dialect</property>
        <property name="connection.driver_class">
            NHibernate.Driver.SqlClientDriver</property>
        
<!--    => Note: the connection string property is overriden within each scenario -->
        
<!--    <property name="connection.connection_string">-->
<!--        server=.\sqlexpress;-->
<!--        database=HibernatingRhinos.Profiler.IntegrationTests;-->
<!--        trusted_connection=True;-->
<!--    </property>-->
        
        <property name="connection.connection_string">
            server=.\sqlexpress;
            database=StackOverflow2010;
            trusted_connection=True;
        </property>
        
    </session-factory>
</hibernate-configuration>